# Entornos virtuales de Python
venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos generados por PyInstaller
*.spec
build/
dist/

# Archivos de caché de Pytest
.pytest_cache/
.coverage